:root {
  --content-margin: 3px 20px;
  --font-family: "Poppins", sans-serif;
  --my-work-link-background: linear-gradient(
    90deg,
    rgba(0, 49, 83, 1) 0%,
    rgba(17, 38, 97, 1) 61%,
    rgba(3, 108, 130, 1) 100%
  );
  --paragraphs-font-size: 17px;
  --paragraphs-font-color: rgb(103, 103, 103);

  --buttonAndLinks-border-radius: 50px 50px;
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  --transition-for-hovers: all 200ms ease-in-out;
  --light-mode-body-background: linear-gradient(to top, #f3f9ff 0%, white 100%);
}
body {
  font-family: var(--font-family);
  background: var(--light-mode-body-background);
  font-weight: 200;
}
p {
  font-size: var(--paragraphs-font-size);
  color: var(--paragraphs-font-color);
}
h2 {
  font-weight: 300;
}
a {
  font-weight: 300;
}
/* homepage styles */
.homepage-top-section {
  background-image: url("../src/background-picture-rainy-city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  padding: 50px 0;
}
#my-name {
  display: flex;
  justify-content: flex-start;
  font-family: "Yeseva One", cursive;
  color: rgb(255, 255, 255);
  font-size: 76px;
  margin-left: 70px;
  margin-right: 70px;
}
.hi-my-name-is {
  display: flex;
  justify-content: flex-start;
  margin-left: 65px;
  margin-right: 65px;
  font-weight: 300;
}

#frontend-developer-title {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  margin-right: 70px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 18px;
}

.homepageBriefIntroduction {
  display: flex;
  justify-content: flex-start;
  padding: 27px 28px;
  font-size: 20px;
}
.largeTitle {
  display: flex;
  justify-content: center;

  font-size: 70px;

  padding-top: 50px;
  text-align: center;
}
.subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
}
.smallSubtitles {
  font-size: 23px;
  display: flex;
  justify-content: flex-start;
  font-style: italic;
  margin-top: 20px;
}

#profile-photo {
  display: flex;
  justify-content: flex-start;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}
.my-work-and-about-links-row {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  margin-right: 70px;
}
.aboutmy-work-link-me-link {
  background: var(--light-mode-body-background);
  color: black;

  box-shadow: var(--box-shadow);
  border-radius: var(--buttonAndLinks-border-radius);
  transition: var(--transition-for-hovers);
  font-size: 16px;

  display: flex;
  justify-content: center;
  padding: 10px 3px;
  margin: 3px 3px;
  max-width: 163px;
}

/*
#myWork-link {
  background: var(--my-work-link-background);
  color: antiquewhite;
  border-radius: var(--buttonAndLinks-border-radius);

  box-shadow: var(--box-shadow);
}*/
.projectsShowcaseRow,
.GithubRow {
  margin: var(--content-margin);
}
.GithubRow p {
  font-size: 22px;
}
.appDescription {
  font-size: var(--paragraphs-font-size);
  color: var(--paragraphs-font-color);
  padding: 10px 30px;
  line-height: 39px;
}
.projectName {
  font-size: 32px;
  font-family: "Yeseva One", cursive;
  margin: 100px 0 30px 0;
}
.appDisplayCard {
  box-shadow: var(--box-shadow);
}
.hoverProjectImage {
  transition: var(--transition-for-hovers);
}
.hoverProjectImage:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.launchAndViewCodesLinksRow {
  margin-top: auto;
  margin-bottom: auto;
}

.launchProjectLinks,
.viewSourceCodeLinks {
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  background: var(--my-work-link-background);
  color: aliceblue;
  border-radius: var(--buttonAndLinks-border-radius);
  transition: var(--transition-for-hovers);
  font-size: 16px;
  font-weight: 400;
  box-shadow: var(--box-shadow);
  margin: 8px 30px;
}
.viewSourceCodeLinks {
  background: var(--light-mode-body-background);
  color: black;
}
.launchProjectLinks:hover,
.viewSourceCodeLinks:hover {
  font-size: 16.5px;
}
.gitHubLinkButton {
  display: flex;
  justify-content: center;
}
#link-to-github-page {
  display: flex;
  justify-content: center;
  border-radius: var(--buttonAndLinks-border-radius);
  padding: 15px 5px;
  font-size: 22px;
  transition: var(--transition-for-hovers);
}

/* about page styles */
.see-my-project-link-row {
  display: flex;
  justify-content: center;
}
.see-my-project-link,
.about-me-link {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  font-size: 22px;
  transition: var(--transition-for-hovers);
  background: var(--my-work-link-background);
  color: antiquewhite;
  border-radius: var(--buttonAndLinks-border-radius);
  font-weight: 400;
  box-shadow: var(--box-shadow);
  margin: 3px 5px;
  max-width: 190px;
}
.about-me-link {
  background: var(--light-mode-body-background);
  color: black;
}
.paddingForParagraphs {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  align-items: flex-start;
}
#link-to-github-page:hover,
.see-my-project-link:hover,
.about-me-link:hover {
  font-size: 22.5px;
}
#introduction-paragraph,
.skillSetParagraph {
  font-size: var(--paragraphs-font-size);
  line-height: 1.7;
  display: flex;
  justify-content: center;
  margin: var(--content-margin);

  padding: 20px;
}
.about-me-page-intro-row {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

#profile-picture {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 3px;
}
.paddingForButtonLinks {
  background: var(--my-work-link-background);
  color: antiquewhite;
  width: 300px;
  display: block;
  margin: 3px auto;
  transition: var(--transition-for-hovers);
  border-radius: var(--buttonAndLinks-border-radius);
}

.contactlinks {
  border-radius: var(--buttonAndLinks-border-radius);
  background: var(--my-work-link-background);
  padding: 10px 5px;
  flex: 1;
  text-align: center;
  font-size: 18px;

  transition: var(--transition-for-hovers);
  color: antiquewhite;
  margin-top: 3px;
  margin-bottom: 3px;
}
.contactlinks:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}
.skillSet {
  display: flex;
  justify-content: center;
}

.skillSetLogos {
  width: 60px;
  padding: 9px 6px;
  display: block;
  margin: auto;
  opacity: 0.8;
}
.smallerLogos {
  width: 48px;
}
small {
  font-size: 19px;

  text-align: center;
}
.smallerLogoDescriptions {
  font-size: 10px;
  display: flex;
  justify-content: center;
}
.navbarDecoration {
  background-image: linear-gradient(
    90deg,
    rgba(0, 49, 83, 1) 0%,
    rgba(17, 38, 97, 1) 61%,
    rgba(3, 108, 130, 1) 100%
  );
  opacity: 0.95;
  border-radius: 0 0 2px 2px;
  box-shadow: var(--box-shadow);
  padding: 0;
  min-height: 70px;
}

.navbarButtonDecoration {
  background: rgb(231, 231, 231, 0.9);
}
.my-name-at-nav-bar {
  font-family: "Yeseva One", cursive;
}
.navbarName {
  font-size: 22px;
  transition: var(--transition-for-hovers);
  padding: 9px 1px;
  border-radius: var(--buttonAndLinks-border-radius);
  color: aliceblue;
}

.navbarTexts {
  font-size: 17px;

  transition: var(--transition-for-hovers);
  padding: 9px 1px;

  border-radius: var(--buttonAndLinks-border-radius);

  color: aliceblue;
}

.navbarName:hover {
  font-size: 22.5px;
  color: rgba(235, 235, 235, 0.8);
}
.navbarTexts:hover {
  font-size: 17.5px;
  color: rgba(235, 235, 235, 0.8);
}
.navbarItemsFlexDirection {
  justify-content: flex-end;
}

.contactMeMessage {
  font-size: 22px;
}
.footer {
  font-size: 17px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer a {
  text-decoration: underline;
  color: rgb(115, 202, 253);
}

@media (max-width: 767px) {
  .app-features {
    display: none;
  }

  .third-app-image {
    display: none;
  }
  .appDescription,
  p {
    color: black;
  }
  #introduction-paragraph {
    font-size: 21px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .my-work-and-about-links-row {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .appDescription {
    font-size: 24px;
  }
  .smallerLogos {
    width: 52px;
  }
  .smallerLogoDescriptions {
    font-size: 20px;
  }
  .projectName {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  #introduction-paragraph {
    font-size: 21px;
  }
}
.dark {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(230, 228, 228, 0.694) 0%,
      rgba(0, 0, 0, 0.883) 200%
    );
  background-blend-mode: multiply;
  color: whitesmoke;
}
