:root {
  --link-button-font-size: 20px;
  --title-font-size: 50px;
  --content-margin: 3px 20px;
  --font-family: "Montserrat", sans-serif;

  --paragraphs-font-size: 20px;
  --buttonAndLinks-border-radius: 8px 8px;
}
body {
  font-family: var(--font-family);
}

#my-name {
  display: flex;
  justify-content: center;

  font-size: 100px;
  margin: 50px 20px 0 20px;
}
#frontend-developer-title {
  display: flex;
  justify-content: center;
}
.largeTitle {
  display: flex;
  justify-content: center;
  margin: 70px 20px 20px 20px;
  font-size: 70px;
  margin-top: 20px;
  text-align: center;
}

.pageTopBar {
  display: flex;
  justify-content: flex-end;
  border-radius: var(--buttonAndLinks-border-radius);
  font-size: 25px;
  background: rgb(237, 236, 236);
  margin-top: 0;
}

#profile-photo {
  width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 50px 50px;
}

#about-link,
#myWork-link,
#contact-link,
#github-link-inside-portfolio,
#homepage-icon {
  margin: 0px 5px;
  transition: all 200ms ease-in-out;
  padding: 10px 5px;
  font-size: 22px;
}

#about-link:hover,
#myWork-link:hover,
#contact-link:hover,
#github-link-inside-portfolio:hover,
#homepage-icon:hover {
  font-size: 22.5px;
  font-weight: 700px;
}
#myWork-link {
  background: linear-gradient(
    255deg,
    rgb(175, 216, 253) 0%,
    rgb(177, 159, 251) 95%,
    rgb(177, 159, 251) 100%
  );
  color: antiquewhite;
  border-radius: var(--buttonAndLinks-border-radius);
  font-weight: 600;
}

#link-to-github-page {
  display: flex;
  justify-content: center;
  border-radius: var(--buttonAndLinks-border-radius);
  background: rgb(237, 236, 236);
  padding: 15px 5px;

  font-size: 22px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}
#see-my-project-link {
  display: flex;
  justify-content: center;
  padding: 15px 5px;
  font-size: 22px;
  transition: all 200ms ease-in-out;
  background: linear-gradient(
    255deg,
    rgb(175, 216, 253) 0%,
    rgb(177, 159, 251) 95%,
    rgb(177, 159, 251) 100%
  );
  color: antiquewhite;
  border-radius: var(--buttonAndLinks-border-radius);
  font-weight: 600;
}
.paddingForParagraphs {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  align-items: flex-start;
}
#link-to-github-page:hover,
#see-my-project-link:hover {
  font-size: 22.5px;
  font-weight: 700;
}
#introduction-paragraph,
.skillSetParagraph {
  font-size: var(--paragraphs-font-size);
  font-style: italic;
  display: flex;
  justify-content: center;
  margin: var(--content-margin);
  text-align: center;
  padding: 20px;
}
.projectsShowcaseRow,
.GithubRow {
  margin: var(--content-margin);
}
.subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
}

.paddingForButtonLinks {
  background: rgb(237, 236, 236);
  width: 300px;
  display: block;
  margin: 3px auto;
  transition: all 200ms ease-in-out;
  border-radius: var(--buttonAndLinks-border-radius);
}

.ContactMeRow {
  display: flex;
  justify-content: space-evenly;
}
.contactlinks {
  border-radius: var(--buttonAndLinks-border-radius);
  background: rgb(237, 236, 236);
  padding: 15px 5px;
  flex: 1;
  text-align: center;
  margin: 10px 2px;
  font-size: 12px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}
.contactlinks:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}
.skillSet {
  display: flex;
  justify-content: center;
}

.skillSetLogos {
  width: 50px;

  padding: 6px 6px;
  display: flex;
  justify-content: space-evenly;
}
small {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
