:root {
  --content-margin: 3px 20px;
  --font-family: "Sarabun", sans-serif;
  --my-work-link-background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --accent-font-color: rgb(0, 0, 0);
  --paragraphs-font-size: 17px;
  --paragraphs-font-color: rgb(196, 196, 196);

  --buttonAndLinks-border-radius: 50px 50px;
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  --transition-for-hovers: all 200ms ease-in-out;
  --light-mode-body-background: linear-gradient(to top, #f3f9ff 0%, white 100%);

  --dark-mode-body-background: rgb(32, 32, 32);
}
body {
  font-family: var(--font-family);
  background: var(--dark-mode-body-background);
  font-weight: 200;
  color: white;
}
p {
  font-size: var(--paragraphs-font-size);
  color: var(--paragraphs-font-color);
}
h2 {
  font-weight: 300;
}
a {
  font-weight: 300;
}

img {
  border-radius: 8px;
}
.card {
  border: 0ch;
  border-radius: 19px;
  transition: var(--transition-for-hovers);
  background-color: var(--dark-mode-body-background);
}
.card:hover {
  transform: scale(1.02);
  filter: brightness(105%);
  background-color: rgb(54, 54, 54);
}

.card-title {
  font-weight: 600;
  font-size: 28px;
}
.fontIcons {
  position: relative;
  left: -4px;
}
/* homepage styles */

.homepage-hero {
  background-image: url(do-something-great-backgroud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  color: white;
}
.page-hero-text-wrap {
  background: rgb(0 0 0 / 80%);
  border-radius: 12px;
  padding: 20px;
  transition: var(--transition-for-hovers);
}
.page-hero-text-wrap:hover {
  background: rgb(0 0 0 / 60%);
}

#my-name {
  display: flex;
  justify-content: flex-start;
  font-weight: 800;

  font-size: 76px;
  margin-left: 70px;
  margin-right: 70px;
}
.hi-my-name-is {
  display: flex;
  justify-content: flex-start;
  margin-left: 65px;
  margin-right: 65px;
  font-weight: 300;
}

#frontend-developer-title {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  margin-right: 70px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 18px;
}

.homepageBriefIntroduction {
  display: flex;
  justify-content: flex-start;
  padding: 27px 28px;
  font-size: 20px;
}
.largeTitle {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 70px;

  padding-top: 50px;
  text-align: center;
}
.subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
}
.smallSubtitles {
  font-size: 23px;
  display: flex;
  justify-content: flex-start;
  font-style: italic;
  margin-top: 20px;
  color: white;
}

#profile-photo {
  display: flex;
  justify-content: flex-start;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}
.my-work-and-about-links-row {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  margin-right: 70px;
}
.aboutmy-work-link-me-link {
  background: var(--light-mode-body-background);
  color: black;

  box-shadow: var(--box-shadow);
  border-radius: var(--buttonAndLinks-border-radius);
  transition: var(--transition-for-hovers);
  font-size: 16px;

  display: flex;
  justify-content: center;
  padding: 10px 3px;
  margin: 3px 3px;
  max-width: 163px;
}

/*
#myWork-link {
  background: var(--my-work-link-background);
  color: antiquewhite;
  border-radius: var(--buttonAndLinks-border-radius);

  box-shadow: var(--box-shadow);
}*/
.projectsShowcaseRow,
.GithubRow {
  margin: var(--content-margin);
}
.GithubRow p {
  font-size: 22px;
}
.appDescription {
  font-size: var(--paragraphs-font-size);
  color: var(--paragraphs-font-color);
  padding: 10px 30px;
  line-height: 38px;
  font-weight: 400;
}
.projectName {
  font-size: 34px;
  font-weight: 700;

  margin: 100px 0 30px 0;
}

.launchAndViewCodesLinksRow {
  margin-top: auto;
  margin-bottom: auto;
}

.launchProjectLinks,
.viewSourceCodeLinks {
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  background: var(--my-work-link-background);
  color: aliceblue;
  border-radius: var(--buttonAndLinks-border-radius);
  transition: var(--transition-for-hovers);
  font-size: 16px;
  font-weight: 400;
  box-shadow: var(--box-shadow);
  margin: 8px 30px;
}
.viewSourceCodeLinks {
  background: var(--light-mode-body-background);
  color: black;
}
.launchProjectLinks:hover,
.viewSourceCodeLinks:hover {
  font-size: 16.5px;
}
.gitHubLinkButton {
  display: flex;
  justify-content: center;
}
#link-to-github-page {
  display: flex;
  justify-content: center;
  border-radius: var(--buttonAndLinks-border-radius);
  padding: 15px 5px;
  font-size: 22px;
  transition: var(--transition-for-hovers);
}

/* about page styles */
.see-my-project-link-row {
  display: flex;
  justify-content: center;
}
.see-my-project-link,
.about-me-link {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  font-size: 22px;
  transition: var(--transition-for-hovers);
  background: var(--my-work-link-background);
  color: antiquewhite;
  border-radius: var(--buttonAndLinks-border-radius);
  font-weight: 400;
  box-shadow: var(--box-shadow);
  margin: 3px 5px;
  max-width: 190px;
}
.about-me-link {
  background: var(--light-mode-body-background);
  color: black;
}
.paddingForParagraphs {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  align-items: flex-start;
}
#link-to-github-page:hover,
.see-my-project-link:hover,
.about-me-link:hover {
  font-size: 22.5px;
}
#skills-set {
  margin-top: 100px;
}
#introduction-paragraph,
.skillSetParagraph {
  font-size: var(--paragraphs-font-size);
  line-height: 1.7;

  margin: var(--content-margin);

  padding: 20px;
}
.about-me-page-intro-row {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  font-family: "Spline Sans Mono", monospace;
}
.certificatesRow {
  margin-top: 100px;
}
.directoryArrowText,
.directory-arrow,
.directoryArrowTextLeft,
.directory-arrow-left {
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  margin: 20px 30px -23px 30px;
  padding: 10px;
  font-size: 16px;
  transition: var(--transition-for-hovers);
  color: var(--paragraphs-font-color);
}

.directory-arrow:hover,
.directory-arrow-left:hover {
  font-size: 19.5px;
  color: white;
}
.directoryArrowText {
  position: relative;
  top: -35px;
  left: 34px;
  text-align: right;
}
.directory-arrow-left {
  display: flex;
  justify-content: flex-start;
}
.directoryArrowTextLeft {
  position: relative;
  top: -34px;
  left: -35px;
}
#profile-picture {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 3px;
}

.myStrength {
  font-size: 18px;
  text-align: center;
}
.paddingForButtonLinks {
  background: var(--my-work-link-background);
  color: antiquewhite;
  width: 300px;
  display: block;
  margin: 3px auto;
  transition: var(--transition-for-hovers);
  border-radius: var(--buttonAndLinks-border-radius);
}

.zoom-in-curser:hover {
  cursor: zoom-in;
}
.card-body a {
  color: rgb(115, 202, 253);
}
.contactlinks {
  border-radius: var(--buttonAndLinks-border-radius);
  background-image: linear-gradient(to top, #c7ddf6 0%, #e7f0fd 100%);
  padding: 10px 5px;
  flex: 1;
  text-align: center;
  font-size: 18px;

  transition: var(--transition-for-hovers);

  margin-top: 3px;
  margin-bottom: 3px;
}
.contactlinks:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

.skillSetLogos {
  width: 60px;
  padding: 9px 6px;
  display: block;
  margin: auto;
  opacity: 0.8;
}
.smallerLogos {
  width: 48px;
}
small {
  font-size: 15px;
  font-family: "Urbanist", sans-serif;
  text-align: center;
  font-weight: 400;
}
.smallerLogoDescriptions {
  font-size: 10px;
  display: flex;
  justify-content: center;
}
.navbarDecoration {
  background: black;
  opacity: 0.95;
  border-radius: 0 0 2px 2px;
  box-shadow: var(--box-shadow);
  padding: 0;
  min-height: 70px;
}
/*
.navbarButtonDecoration {
  background: rgb(231, 231, 231, 0.9);
}*/

.navbarName {
  font-size: 22px;
  transition: var(--transition-for-hovers);
  padding: 9px 1px;
  border-radius: var(--buttonAndLinks-border-radius);
  font-weight: 500;
  color: white;
}

.navbarTexts {
  font-size: 17px;
  font-weight: 500;
  transition: var(--transition-for-hovers);
  padding: 9px 1px;
  color: white;
  border-radius: var(--buttonAndLinks-border-radius);
}

.navbarName:hover {
  font-size: 22.5px;
  color: rgba(235, 235, 235, 0.8);
}
.navbarTexts:hover {
  font-size: 17.5px;
  color: rgba(235, 235, 235, 0.8);
}
.navbarItemsFlexDirection {
  justify-content: flex-end;
}

.contactMeMessage {
  font-size: 22px;
  margin: var(--content-margin);
}
.footer {
  font-size: 17px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer a {
  text-decoration: underline;
  color: rgb(115, 202, 253);
}
@media (max-width: 576px) {
  .my-work-and-about-links-row {
    justify-content: center;
  }
  .third-app-image,
  .profile-picture-square-photo {
    display: none;
  }
}
@media (max-width: 768px) {
  .app-features {
    display: none;
  }

  #introduction-paragraph {
    font-size: 21px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .appDescription {
    font-size: 16px;
  }
  .smallerLogos {
    width: 52px;
  }
  .smallerLogoDescriptions {
    font-size: 17px;
  }
  .projectName {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  #introduction-paragraph {
    font-size: 20px;
  }
  .appDescription {
    font-size: 18px;
  }
}
